discord_webhook==1.3.1
langchain_text_splitters==0.3.0
loguru==0.7.2
openai==1.50.2
pkce==1.0.3
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
redis==5.1.0
Requests==2.32.3
rich==13.8.1
ruff==0.6.8
pur==7.3.2
isort==5.13.2
black==24.8.0
